@-webkit-keyframes breathe {
	0% {

	}
	50% {
		-ms-transform: translate(0px,50px); /* IE 9 */
		-webkit-transform: translate(0px,50px); /* Safari */
		transform: translate(0px,50px);
	}
	100% {

	}
}
@-moz-keyframes breathe {
	0% {

	}
	50% {
		-ms-transform: translate(0px,50px); /* IE 9 */
		-webkit-transform: translate(0px,50px); /* Safari */
		transform: translate(0px,50px);
	}
	100% {

	}
}
@-ms-keyframes breathe {
	0% {

	}
	50% {
		-ms-transform: translate(0px,50px); /* IE 9 */
		-webkit-transform: translate(0px,50px); /* Safari */
		transform: translate(0px,50px);
	}
	100% {

	}
}
@-o-keyframes breathe {
	0% {

	}
	50% {
		-ms-transform: translate(0px,50px); /* IE 9 */
		-webkit-transform: translate(0px,50px); /* Safari */
		transform: translate(0px,50px);
	}
	100% {

	}
}
@keyframes breathe {
	0% {

	}
	50% {
		-ms-transform: translate(0px,50px); /* IE 9 */
		-webkit-transform: translate(0px,50px); /* Safari */
		transform: translate(0px,50px);
	}
	100% {

	}
}


body {
	background-color: rgb(249, 237, 81);
	-webkit-transition:  all 800ms ease;
	-o-transition:  all 800ms ease;
	transition:  all 800ms ease;
}

#one {
	margin: 125px auto 0 auto !important;
	display: block !important;
	width: 100%;
	position: relative;
	text-align: center;
}

.node {
	width: 100px;
	height: 100px;
	margin-left: 25px;
	margin-right: 25px;
	border-radius: 100%;
	position: relative;
	background-color: white;
	display: inline-block;
	transition: all 500ms ease;
	color: white;
	font-family: 'Roboto',sans-serif;
	font-size: 100%;
	background-color: rgb(246, 108, 108);
}

.node:hover {
	cursor: pointer;
	background-color: rgb(145, 242, 225);
}

.node p {
	margin-top: 40px;
}

#a{
	-webkit-animation: breathe 20s linear 0s infinite normal forwards;
	-moz-animation: breathe 20s linear 0s infinite normal forwards;
	-ms-animation: breathe 20s linear 0s infinite normal forwards;
	-o-animation: breathe 20s linear 0s infinite normal forwards;
	animation: breathe 20s linear 0s infinite normal forwards;
}

#s{
	-webkit-animation: breathe 15s linear 0s infinite normal forwards;
	-moz-animation: breathe 15s linear 0s infinite normal forwards;
	-ms-animation: breathe 15s linear 0s infinite normal forwards;
	-o-animation: breathe 15s linear 0s infinite normal forwards;
	animation: breathe 15s linear 0s infinite normal forwards;
}

#d{
	-webkit-animation: breathe 28s ease 0s infinite normal forwards;
	-moz-animation: breathe 28s ease 0s infinite normal forwards;
	-ms-animation: breathe 28s ease 0s infinite normal forwards;
	-o-animation: breathe 28s ease 0s infinite normal forwards;
	animation: breathe 28s ease 0s infinite normal forwards;
}

#semi{
	-webkit-animation: breathe 20s linear 0s infinite normal forwards;
	-moz-animation: breathe 20s linear 0s infinite normal forwards;
	-ms-animation: breathe 20s linear 0s infinite normal forwards;
	-o-animation: breathe 20s linear 0s infinite normal forwards;
	animation: breathe 20s linear 0s infinite normal forwards;
}

#j{
	-webkit-animation: breathe 15s linear 0s infinite normal forwards;
	-moz-animation: breathe 15s linear 0s infinite normal forwards;
	-ms-animation: breathe 15s linear 0s infinite normal forwards;
	-o-animation: breathe 15s linear 0s infinite normal forwards;
	animation: breathe 15s linear 0s infinite normal forwards;
}

#f{
	-webkit-animation: breathe 28s ease 0s infinite normal forwards;
	-moz-animation: breathe 28s ease 0s infinite normal forwards;
	-ms-animation: breathe 28s ease 0s infinite normal forwards;
	-o-animation: breathe 28s ease 0s infinite normal forwards;
	animation: breathe 28s ease 0s infinite normal forwards;
}

#l{
	-webkit-animation: breathe 15s linear 0s infinite normal forwards;
	-moz-animation: breathe 15s linear 0s infinite normal forwards;
	-ms-animation: breathe 15s linear 0s infinite normal forwards;
	-o-animation: breathe 15s linear 0s infinite normal forwards;
	animation: breathe 15s linear 0s infinite normal forwards;
}

#k{
	-webkit-animation: breathe 28s ease 0s infinite normal forwards;
	-moz-animation: breathe 28s ease 0s infinite normal forwards;
	-ms-animation: breathe 28s ease 0s infinite normal forwards;
	-o-animation: breathe 28s ease 0s infinite normal forwards;
	animation: breathe 28s ease 0s infinite normal forwards;
}

select {
   background: transparent;
   width: 100px;
   padding: 5px;
   font-size: 16px;
   line-height: 1;
	 text-align: center !important;
   border: 2px solid rgb(246, 108, 108);
   border-radius: 0;
   height: 34px;
	 outline: none;
   }

.selection {
	color: 	rgb(246, 108, 108) !important;
	font-weight: bold;
	display: inline-block;
}

#heading p {
	color: white;
	/*padding: 20px;*/
	font-family: 'Roboto', sans-serif;
	/*margin-left: 40px;*/
	padding-top: 20px;
	font-size: 110%;
	margin-bottom: -20px;
	padding: 10px;
	text-align: left;
}

#heading {
	margin-bottom: 50px;
}

h2 {
	font-family: 'Roboto', sans-serif;
	margin-left: 40px;
	font-size: 110%;
	padding-top: 10px;
}

#name {
		background-color: rgb(246, 108, 108);
	font-size: 170%;
	padding: 10px;
	margin-bottom: 20px !important;
}
a {
	color: inherit;
	transition: all 500ms ease;
	padding: 10px !important;
}

a:hover {
	background-color: rgb(47, 146, 201);
}

img {
	margin-left: auto;
	margin-right: auto;
	display: block;
	margin-bottom: 40px;
	margin-top: 40px;
}

ul {
	display: inline;
}

li {
	font-family: 'Roboto', sans-serif;
	margin-left: 40px;
	font-size: 110%;
	display: block;
}
